@import "../../styles/mixins";
@import "../../styles/variablen";

.carousel-container {
  z-index: 1;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 40%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1rem;
}

.slide {
  flex: 0 0 96%;
  transition: opacity 0.5s ease-in-out;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid $clr-secondary-accent;
  border-radius: 12px;
  transition: 0.3s;
  padding: 1rem 2rem;
  @include flex(flex-start, center, column);
  gap: 1rem;

  &:hover {
    border-color: $clr-primary;
  }
}

.card-header {
  width: 100%;
  @include flex();
  gap: 1rem;

  .img-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  div {
    width: 75%;

    h6 {
      font-size: clamp(11px, 3vw, 14px);
      font-weight: $fw-semi-bold-500;
    }

    div {
      @include flex();
      gap: 3rem;
      width: 100%;
      p {
        font-size: $fs-sm;
        color: $clr-secondary-accent;
        width: max-content;
      }
      span {
        font-size: clamp(11px, 3vw, 15px);
        width: max-content;
        color: $clr-secondary;
      }
    }
  }
}

.review {
  font-size: clamp(10px, 3vw, 14px);
  color: $clr-secondary;
}

.prev,
.next {
  position: absolute;
  bottom: 0 !important;
  transform: translateY(-50%);
  background: $clr-primary;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  border: none;
  font-size: 1.1rem;
  color: $clr-neutral-light;
  border-radius: 50%;

  &:hover {
    background: darken($clr-primary, 10%);
  }
}

.prev {
  right: 70px;
}

.next {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: $clr-secondary;
  transition: width 0.3s ease-in-out;

  &.activeDot {
    width: 20px;
    border-radius: 5px;
    background: $clr-primary;
  }
}

//  responsive
@media (min-width: 678px) {
  .carousel-container {
    height: 40% !important;
  }
  .slide {
    flex: 0 0 48%;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    height: 44% !important;
    padding-bottom: 15rem;
  }
  .slide {
    flex: 0 0 32.5%;
  }
}
