@import "../../styles/mixins";
@import "../../styles/variablen";

.slider-container {
  @include flex();
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.slider-container {
  @include flex();
  gap: 1rem;
}

.abo-container {
  @include flex(space-between, center, column);
  gap: 1.5rem;
  flex: 0 0 175px;
  padding: 1rem;
  align-self: stretch;
  border: 2px solid $clr-secondary-accent;
  border-radius: 8px;
  transition: border-color 1s ease;

  &:hover,
  &:focus {
    border-color: $clr-primary;
  }
}

.abo-img-box {
  font-weight: $fw-semi-bold-500;
  @include flex(space-between, center, column);
  gap: 0.4rem;

  h5 {
    font-size: clamp(10px, 3vw, 18px);
  }
}

.inner-img-option-box {
  @include flex(space-between, center, column);
  gap: 1.7rem;

  ul {
    @include flex(space-between, flex-start, column);
    gap: 0.5rem;
    @include fs-md-20($fs-mobile, $fs-pc);

    li {
   
      // span{
      //   font-size: 1rem;
      // }

      @include flex();
      .icon {
        @include flex();
        background-color: #2bbc28;
        color: $clr-neutral-light;
        padding: 1px;
        margin-right: 5px;
        
      }
    }
  }
}


.abo-footer {
  h5 {
    font-size: clamp(16px, 3vw, 28px);
    font-weight: $fw-semi-bold-500;
    color: $clr-neutral-dark;

    span {
      color: rgb(161, 161, 161);
    }
  }
}

// responsive
@media (min-width: 678px) {
  .inner-img-option-box {
    gap: 2rem;
    ul {
      gap: 0.7rem;
    }
  }

  .slider-box {
    width: 100vw;
    justify-content: center;
  }

  .slider-container {
    gap: 2rem;
  }
  .abo-container {
    gap: 3rem;
    flex: 0 0 300px;
    align-self: stretch;
  }
}
