@import '../../styles/mixins';
@import '../../styles/variablen';



.slider-container{
  background-color:antiquewhite; 
  @include flex(center);
overflow-x: auto;
width: 100%;

// padding-block: 2rem ;


}

.slider-box{
  background-color: aqua;
  @include flex(center , center);
  gap: .5rem;
 width: 100%;

  overflow-x: scroll;
  scroll-snap-type:x mandatory ;
  padding: 1rem;
  // height: 650px;
  
}


.abo-container{
  background-color: aliceblue;
  @include flex(space-between,center,column);
  gap: 2rem;
  flex: 0 0 175px;
  padding: 1rem;

  
}



.inner-img-option-box{
  @include flex(space-between,center,column);
  gap: 2rem;
  
  h5{
    
  }

  ul{
    @include flex(space-between,flex-start,column);
    gap: .5rem;
    @include fs-md-20($fs-mobile,$fs-pc);

  }
}
.abo-img-box{
  
  font-weight: $fw-semi-bold-500;
  @include flex(space-between,center,column);
  gap: .5rem;

}

// responsive
@media(min-width:678px){
 

  .inner-img-option-box{

    ul{
      gap: 1rem ;
    }
  }

  .slider-box{
 
gap: 1rem;
  }

  .abo-container{
    background-color: aliceblue;
    @include flex(space-between,center,column);
    gap: 2rem;
    flex: 0 0 280px !important;
    padding: .5rem;
    // max-width: 300px;
  
    
  }
}

