@mixin flex($justify: space-between, $items: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $direction;
}


$fs-mobile:.7rem;
$fs-pc:1rem;

@mixin fs-md-20($s,$m){

  font-size: $s;

  @media (min-width: 678px) {
      font-size: $m;

      }

}


