@import "../../styles/mixins";
@import "../../styles/variablen";

.footer1 {
  background-color: #f4f4f4;
  min-height: 100%;
  grid-column: 1/9;
  grid-row: 11/19;
  @include flex(space-between, center);
  padding-top: 7rem;
  flex-wrap: wrap-reverse;

  .logo-box {
    justify-content: flex-start;
    gap: 0.5rem;
    z-index: 1;
  }
}

.footer-box-left {
  align-self: center;
  padding-inline: 1rem;
  @include flex(center, center, column);
  gap: 2rem;
  text-align: center;

  p {
    font-size: $fs-md;
  }
}

.socialmedia {
  @include flex(center, center);
  gap: 2rem;

  span {
    @include flex(center, center);
    padding: 8px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: $clr-primary-accent;
    color: $clr-primary;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: darken($clr-primary-accent, 30%);
    }
  }
}

.footer-box-right {
  @include flex(center, flex-start);
  gap: 1.5rem;
  width: 100%;
  margin-bottom: rem;

  div,
  ul {
    @include flex(start, start, column);
    gap: 0.5rem;

    h6 {
      font-size: clamp(13px, 3vw, 16px);
      font-weight: $fw-semi-bold-500;
    }
    li {
      font-size: $fs-md;
    }

    a {
      color: $clr-secondary;
    }
  }
}

// responsive
@media (min-width: 678px) {
  .footer1 {
    grid-row: 12/19;
  }
  .footer-box-right {
    width: 50%;
    gap: 2rem;
  }

  .footer-box-left {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .footer-box-left {
    align-self: center;
    padding-inline: 1rem;
    @include flex(flex-start, flex-start, column);
    gap: 2rem;
    text-align: start;

    p {
      font-size: $fs-md;
    }
  }

  .footer-box-right {
    justify-content: end;
  }

  
}
