@import '../../../styles/variablen';


.sec2{
    
    background-color: blue;
    min-height: 125vh !important;
    width: 100%;
   
}

.text-content{
    margin: 0 auto;
    text-align: center;
    

    h4{
        font-size: $fs-2xl;
        font-weight: $fw-semi-bold-500;
        padding-block: .7rem;
        color: $clr-neutral-dark;

    }

    p{
        font-size: $fs-md;
        color: $clr-secondary;
        text-justify: justify;
    }
}


