@import '../../../styles/variablen';


.sec2{
    // min-height: 100%;
    height: 100vh;
    position: relative;
    background-color: blue;
    // max-height: 100vh !important;
    // background-color: aquamarine;
}

.text-content{
    position: absolute;
    width: 75%;
    margin: 0 auto;
    // background-color: antiquewhite;
    text-align: center;

    h4{
        font-size: $fs-2xl;
        font-weight: $fw-semi-bold-500;
        padding-block: .7rem;
        color: $clr-neutral-dark;

    }

    p{
        font-size: $fs-md;
        color: $clr-secondary;
        text-justify: auto;
    }
}

