@import "../../styles/variablen";
@import "../../styles/mixins";

.sec1 {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

// heros1
.heros {
  z-index: 1;
  grid-row: 1/7;
  grid-column: 1/9;
  @include flex(start, center, column-reverse);
  gap: 4rem;
  min-height: 100%;
  padding-bottom: 8rem ;
}

.hero-content {
  width: 100%;
  text-align: center;
  z-index: 5;
  @include flex(center, center, column);
  gap: 1rem;

  h2 {
    font-size: $fs-4xl;
    span {
      font-weight: $fw-semi-bold-500;
    }
  }

  p {
    font-size: $fs-md;
  }
}

// over content
.over-content {
  z-index: 1;
  grid-row: 6/-8;
  grid-column: 1/9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.inner-over-content {
  height: 50%;
  min-width: 100%;
  display: grid;
  grid-template-areas: "a b c";
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-self: center;
  border-radius: 12px;
}

.a {
  grid-area: a;
  border-right: 2px solid $clr-secondary-accent;
}
.b {
  grid-area: b;
  border-right: 2px solid $clr-secondary-accent;
}

.c {
  grid-area: c;
}

.c,
.b,
.a {
  @include flex(center);
  gap: 1rem;
  h3 {
    font-size: $fs-md;
    font-weight: $fw-semi-bold-500;
    color: $clr-neutral-dark;
  }

  color: $clr-secondary;
  font-size: $fs-sm;
}
.icon {
  background-color: $clr-primary-accent;
  border-radius: 50%;
  color: $clr-primary;
  font-size: 25rem !important;
  padding: 3px 4px;
  @include flex(center center);
}
// heros2

.heros2 {
  min-height: 100%;
  z-index: 1;
  grid-row: 7/15;
  grid-column: 1/9;
  @include flex(center, center, column);
}

.heros2-img {
  padding: 2rem 0;
  text-align: center;
}

.heros2-content {
  width: 100%;
}

.inner-hero2-content {
  @include flex(flex-start, flex-start, column);
  gap: 0.6rem;
  width: 100%;
  padding-inline: 20%;

  h3 {
    font-size: $fs-2xl;
    font-weight: $fw-semi-bold-500;
  }

  p {
    font-size: $fs-sm;
    text-justify: justify;
  }

  ul {
    @include flex(flex-start, start, column);
    gap: 1rem;
  }
  li {
    @include flex(flex-start);
    gap: 0.5rem;
    font-size: $fs-md;
    font-weight: $fw-semi-bold-500;
    span {
      @include flex(center);
      background-color: $clr-tick-green;
      border-radius: 50%;
      color: $clr-neutral-light;
      padding: 2px;
    }
  }
}

.abo-footer{
  @include flex(flex-start,center ,column);
  gap: 1rem;
}

// Media qeuris
@media (min-width: 678px) {
  // heros1
  .heros {
   
    min-height: 100%;
    margin-top: 8rem;
    @include flex(center, flex-start);
    gap: 1rem;
    .hero-content {
      width: 50%;
      text-align: start;
      @include flex(flex-start, center, column);
      gap: 2rem !important;

      h2 {
        font-size: $fs-4xl;
        align-self: flex-start;
        span {
          font-weight: $fw-semi-bold-500;
        }
      }

      p {
        font-size: $fs-md;
      }
    }
  }

  // content over
  .over-content {
    grid-column: 2/8;
  }

  .c,
  .b,
  .a {
    font-size: $fs-md;
  }

  // heros 2
  .heros2 {
    @include flex();
    min-height:100% ;
  }

  .heros2-img {
    width: 50%;
  }

  .heros2-content {
    width: 50%;
    @include flex(flex-end);
  }

  .inner-hero2-content {
    width: 75%;
    padding-inline: 0;
    gap: 1rem !important;

    p {
      font-size: $fs-lg;
    }
  }

  li {
    h4 {
      font-size: $fs-lg;
    }
  }
}
